.email {
  width: 100%;
  height: 40vh;
  display: flex;
  padding: 1rem;
  background-color: #6fb7cd;
  color: white;
}

.emailWrapper {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.emailForm {
  color: #6fb7cd;
  display: flex;
  gap: 10px;
  padding: 1rem;
  width: 33%;
  height: 80%;
  border-radius: 20px;
  flex-direction: column;
  background-color: white;
  justify-content: space-evenly;
}

.emailForm span {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.emailForm span div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.emailTitleForm {
  padding-top: 0.7rem;
  font-size: 25px;
  font-weight: 600;
  align-self: center;
}

.emailOr {
  font-size: 30px;
}

.socialMediaWrapper {
  display: flex;
  width: 33%;
  height: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.socialMediaWrapper h1 {
  font-size: 25px;
  font-weight: 600;
  align-self: center;
}

.socialMedia {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: space-evenly;
}

.socialMediaLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

input {
  font-family: "Poppins";
  border: 2px solid #638A96;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: transparent;
  color:#638A96;
}

label {
  color: #638A96;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: white;
  width: fit-content;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
input:focus + label, textarea:focus + label {
  top: -8px;
  font-size: 14px;
}

input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid #6fb7cd;
}

textarea {
  max-width: 98%;
  min-width: 98%;
  font-family: "Poppins";
  min-height: 90px;
  padding: 3px;
  max-height: 90px;
  border: 2px solid #638A96;
  border-radius: 5px;
  color:#638A96;
}

.emailButton {
  align-self: center;
  width: fit-content;
  border: 2px solid #6fb7cd;
  padding: 3px 30px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  border-radius: 30px;
}

.emailButton:hover {
  background-color: #6fb7cd;
  color: white;
}

@media (max-width: 800px) {
  .email {
    height: auto;
  }
  .emailWrapper {
    flex-direction: column;
    height: 100%;
  }
  .socialMediaWrapper {
    width: 80%;
  }
  .emailForm {
    width: 50%;
  }
}
